<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.batterymeasure"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.batterymeasure.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Chart -->

        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity
            android:name="com.example.batterymeasure.PeriodicalTask"
            android:label="@string/title_activity_periodical_task"
            android:launchMode="singleTask" >
        </activity>

        <service
            android:name="com.example.batterymeasure.BatteryService"
            android:enabled="true" />

        <activity
            android:name="com.example.batterymeasure.BatteryCurve"
            android:label="@string/title_activity_battery_curve" >
        </activity>
        <activity
            android:name="com.example.batterymeasure.UploadTestData"
            android:label="@string/title_activity_upload_test_data"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.batterymeasure.AppShowActivity"
            android:label="@string/title_activity_app_show" >
        </activity>
    </application>

</manifest>
